<div class="container-fluid pt-2">
    <div class="card card-info">
        <div class="card-header">
            <h2 class="text-center"> Venda nº {{ venda.id }}</h2>
        </div>

        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> Cliente </label>
                            <input [disabled]="true" [(ngModel)]="venda.nomeCliente" name="nomeCliente" required=""
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> Vendedor </label>
                            <input [disabled]="true" [(ngModel)]="venda.nomeFuncionario" name="nomeFuncionario"
                                type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> Data Venda </label>
                            <input [disabled]="true" [(ngModel)]="venda.dataVenda" name="dataVenda" type="text"
                                class="form-control" />
                        </div>
                    </div>
                </div>

                <!-- Tabela de itens da venda -->
                <div style="height: 250px; overflow-y: auto;">
                    <table class="container-fluid table table-hover">
                        <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                            <tr>
                                <th>#</th>
                                <th>Descricao</th>
                                <th>Valor Produto</th>
                                <th>Quantidade</th>
                                <th>Desconto</th>
                                <th>Valor Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of venda.itens; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.descricao }}</td>
                                <td>R$ {{ item.precoVendido.toFixed(2) }}</td>
                                <td>{{ item.quant }}</td>
                                <td>R$ {{ item.desconto.toFixed(2) }}</td>
                                <td>R$ {{ (item.precoVendido * item.quant - item.desconto).toFixed(2) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row" style="padding-top: 15px;">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> Quantidade de itens </label>
                            <input [disabled]="true" class="form-control" value="{{venda.itens.length}}" type="text" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> Forma de Pagamento </label>
                            <input [disabled]="true" value="{{ venda.formaPagamento.descricao }}" type="text"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> Valor da venda </label>
                            <input [disabled]="true" type="text" class="form-control"
                                value="R$ {{ venda.valorVenda.toFixed(2) }}" />
                        </div>
                    </div>

                </div>

                <button class="btn btn-danger w-100" (click)="openModal()">
                    Cancelar venda
                </button>

                <!-- Modal -->
                <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" (click)="closeModal()">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmar cancelamento de venda</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="closeModal()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tem certeza de que deseja cancelar esta venda?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    (click)="closeModal()">Cancelar</button>
                                <button type="button" class="btn btn-danger"
                                    (click)="confirmCancelSale()">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fundo esbranquiçado -->
                <div class="modal-backdrop" [ngClass]="{'show': showModal}" (click)="closeModal()"></div>

                <button routerLink="../../" class="btn btn-warning w-100 my-2">
                    Retornar à listagem
                </button>
            </form>
        </div>
    </div>
</div>