<div class="row">
  <!-- Lista de produtos -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center">Lista de produtos</div>
      <div class="card-body">
        <label for=""> Produto </label>

        <!-- Botão pesquisar -->
        <div class="input-group form-group">
          <input
            placeholder="Cod. Barras"
            class="form-control"
            type="text"
            name="codBarras"
            [formControl]="codBarras"
            value=""
          />
          <span class="input-group-append">
            <button (click)="findProduto()" type="button" class="btn btn-info">
              Pesquisar
            </button>
          </span>
        </div>

        <!-- Formulário item Venda -->
        <div class="input-group mb-3">
          <input
            type="text"
            readonly
            [formControl]="idProduto"
            name="idProduto"
            class="form-control col-2"
            placeholder="ID"
            aria-label="ID"
          />
          <input
            type="text"
            readonly
            [formControl]="descricao"
            class="form-control col-6"
            placeholder="Descrição"
            aria-label="Descricao"
          />
          <input
            type="text"
            [formControl]="quant"
            class="form-control col-2"
            placeholder="Quant."
            aria-label="Server"
          />
          <input
            type="text"
            [formControl]="valorVendido"
            class="form-control col-2"
            placeholder="Valor"
            aria-label="Server"
          />
          <button
            (click)="addProduto()"
            type="button"
            class="input-group-append btn btn-info"
          >
            +
          </button>
        </div>
      </div>

      <div class="container">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Descricao</th>
              <th scope="col">Quant.</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody *ngFor="let itemVenda of venda.itens">
            <tr>
              <th scope="row">{{ itemVenda.idProduto }}</th>
              <td>{{ itemVenda.descricao }}</td>
              <td>{{ itemVenda.quant }}</td>
              <td>{{ itemVenda.precoVendido }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Dados da venda -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center">Info. da venda</div>
      <div class="card-body">
        <label for=""> Cliente</label>
        <div class="input-group form-group">
          <input
            [disabled]="true"
            placeholder="CPF"
            class="form-control"
            type="text"
            name="cpf"
            [formControl]="cpf"
            value=""
          />
          <span class="input-group-append">
            <button (click)="findCliente()" type="button" class="btn btn-info">
              Pesquisar
            </button>
          </span>
        </div>
        <div class="row">
          <div class="mb-3 col-sm-2">
            <input
              readonly
              placeholder="ID"
              [formControl]="cliente"
              type="text"
              class="form-control"
              name="id"
            />
          </div>
          <div class="mb-3 col-sm-10">
            <input
              readonly
              placeholder="Nome"
              [formControl]="nomeCliente"
              type="text"
              class="form-control"
              name="nome"
            />
          </div>
        </div>

        <label for=""> Vendedores </label>
        <select
          class="form-select form-control"
          aria-label="Default select example"
          [formControl]="funcionario"
          name="funcionario"
        >
          <option
            [formControl]="nomeFuncionario"
            *ngFor="let fun of funcionarios"
            value="{{ fun.id }}"
          >
            {{ fun.nome }}
          </option>
        </select>

        <label for=""> Forma de Pagamento</label>
        <select
          class="form-select form-control"
          aria-label="Default select example"
          [formControl]="formaPagto"
        >
          <option *ngFor="let fp of listaFormaPagto" value="{{ fp.id }}">
            {{ fp.descricao }}
          </option>
        </select>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header text-center">Total</div>
      <div class="card-body">
        <h1 class="">Valor total: {{totalGeral}}</h1>
        <button
          type="button"
          (click)="finalizarVenda()"
          class="btn btn-success"
        >
          Finalizar venda
        </button>
      </div>
    </div>
  </div>
</div>
