<div class="container full-width text-center">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"> Cadastro | Clientes</h2>
      <a routerLink="../" class="btn btn-outline-danger"> Voltar </a>
    </div>
  </div>
</div>

<div class="container espacamento">
  <div class="container form-control form-espacamento">
    <form class="row g-3 f">
      <div class="col-md-6">
        <label class="form-label"> Nome </label>
        <input
          [(ngModel)]="cliente.nome"
          name="nome"
          [formControl]="nome"
          required=""
          type="email"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label"> CPF </label>
        <input
          [(ngModel)]="cliente.cpf"
          name="cpf"
          [formControl]="cpf"
          required=""
          type="text"
          class="form-control"
        />
      </div>

      <div class="col-md-3">
        <label class="form-label"> CEP </label>
        <input
          [(ngModel)]="cliente.endereco.cep"
          name="cep"
          [formControl]="cep"
          required=""
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label"> Logradouro </label>
        <input
          [(ngModel)]="cliente.endereco.logradouro"
          name="logradouro"
          [formControl]="logradouro"
          required=""
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label"> Nº </label>
        <input
          [(ngModel)]="cliente.endereco.numero"
          name="numero"
          [formControl]="numero"
          required=""
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label"> Bairro </label>
        <input
          [(ngModel)]="cliente.endereco.bairro"
          name="cep"
          [formControl]="cep"
          required=""
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label"> Cidade </label>
        <input
          [(ngModel)]="cliente.endereco.cidade"
          name="cidade"
          [formControl]="cidade"
          required=""
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label"> Estado </label>
        <input
          [(ngModel)]="cliente.endereco.estado"
          name="estado"
          [formControl]="estado"
          required=""
          type="text"
          class="form-control"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label"> Nº do Contato </label>
        <input
          [(ngModel)]="contato.numero"
          name="numeroTelefone"
          [formControl]="numeroTelefone"
          required=""
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label"> Tipo de contato </label>
        <select
          [(ngModel)]="contato.tipo"
          name="tipo"
          [formControl]="tipo"
          required=""
          class="form-select"
        >
          <option selected></option>
          <option value="Fixo">Fixo</option>
          <option value="Celular">Celular</option>
          <option value="Outros">Outros</option>
        </select>
      </div>

      <div class="col-12 align-items-center">
        <button (click)="create()" type="submit" class="btn btn-primary"> Cadastrar </button>
      </div>
    </form>
  </div>
</div>
