<div class="container full-width text-center">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Clientes | Visualizar cadastro</h2>
    </div>
  </div>
</div>

<div class="container full-width text-center">
  <div class="col-lg-auto">
    <button routerLink="../../" class="btn btn-outline-danger w-100 my-4 mb-2">
      Voltar para listagem
    </button>
  </div>
</div>

<div class="container espacamento">
  <div class="container form-control form-espacamento">
    <form class="row g-3 f">
      <div class="col-md-6">
        <label class="form-label"> Nome </label>
        <input
          [disabled]="true"
          value="{{ cliente.nome }}"
          name="nome"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label"> CPF </label>
        <input
          [disabled]="true"
          value="{{ cliente.cpf }}"
          name="cpf"
          type="text"
          class="form-control"
        />
      </div>

      <div class="col-md-3">
        <label class="form-label"> CEP </label>
        <input
          [disabled]="true"
          value="{{ cliente.endereco.cep }}"
          name="cep"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label"> Logradouro </label>
        <input
          [disabled]="true"
          value="{{ cliente.endereco.logradouro }}"
          name="logradouro"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-3">
        <label class="form-label"> Nº </label>
        <input
          [disabled]="true"
          value="{{ cliente.endereco.numero}}"
          name="numero"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label"> Bairro </label>
        <input
          [disabled]="true"
          value="{{ cliente.endereco.bairro }}"
          name="bairro"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label"> Cidade </label>
        <input
          [disabled]="true"
          value="{{ cliente.endereco.cidade }}"
          name="cidade"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label class="form-label"> Estado </label>
        <input
          [disabled]="true"
          value="{{ cliente.endereco.estado }}"
          name="estado"
          type="text"
          class="form-control"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label"> Nº do Contato </label>
        <input
          [disabled]="true"
          value="{{ contato.numero }}"
          name="numeroTelefone"
          type="text"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label"> Tipo de contato </label>
        <input
          [disabled]="true"
          value="{{ contato.tipo }}"
          name="numeroTelefone"
          type="text"
          class="form-control"
        >
      </div>
    </form>
  </div>
</div>
