<div class="container full-width text-center">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Listagem de clientes</h2>
    </div>
  </div>
</div>

<div class="container full-width text-center">
  <div class="col-lg-auto">
    <button class="btn btn-outline-primary w-100 my-4 mb-2" routerLink="create">
      Cadastrar cliente
    </button>
  </div>
</div>

<div class="container espacamento">
  <table class="table table-hover" id="tabela-clientes" name="tabela-clientes">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Cliente desde</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr *ngFor="let element of ELEMENT_DATA">
        <td>{{ element.id }}</td>
        <td>{{ element.nome }}</td>
        <td>{{ element.cpf }}</td>
        <td>{{ element.dataCadastro }}</td>
        <td>
          <a href=""><span class="material-symbols-outlined"> edit </span></a>
          <a href=""
            ><span class="material-symbols-outlined"> local_library </span></a
          >
          <a href=""><span class="material-symbols-outlined"> delete </span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <script>
    $(document).ready(function () {
      $("#tabela-clientes").DataTable({
        paging: false,
        ordering: false,
        info: false,
      });
    });
  </script>

  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css.css"
  />

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
</div>
