<div class="container full-width text-center">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Listagem de clientes</h2>
    </div>
  </div>
</div>

<form>
  <div class="mb-3 row">
    <label
      for="table-filtering-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Full text search:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-filtering-search"
        class="form-control"
        type="text"
        [formControl]="filter"
      />
    </div>
  </div>
</form>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Cliente desde</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let element of ELEMENT_DATA">
        <td>{{ element.id }}</td>
        <td><ngb-highlight [result]="element.nome | string" [term]="filter.value"></ngb-highlight></td>
        <td>{{ element.cpf }}</td>
        <td>{{ element.dataCadastro }}</td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
