<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex info align-items-center">
      <div class="">
        <a routerLink="home" class="d-block"> Home </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="home">
            <i class="nav-icon fas fa-th"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <!-- Cadastros -->
          <a class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Cadastros
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="clientes" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                Clientes
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="funcionarios" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                Funcionários
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="fornecedores" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                Fornecedores
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="produtos" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                Produtos
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="vendas">
            <i class="nav-icon fas fa-th"></i>
            <p>PDV</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="compras">
            <i class="nav-icon fas fa-th"></i>
            <p>Entrada de Estoque</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="financeiro">
            <i class="nav-icon fas fa-th"></i>
            <p>Relatório Financeiro</p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<app-header></app-header>

<div class="content-wrapper espacamento">
  <router-outlet></router-outlet>
</div>
