<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">

  <div class="sidebar-brand d-none d-md-flex text-center">

  </div>

  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
    <li class="nav-item first">
      <a class="nav-link" routerLink="home">
        <svg class="nav-icon">
          <use
            xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"
          ></use>
        </svg>
        Home</a
      >
    </li>

    <li class="nav-title">Funções</li>
    <li class="nav-group">
      <a class="nav-link nav-group-toggle">
        <svg class="nav-icon">
          <use
            xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-group"
          ></use>
        </svg>
        Cadastro</a
      >
      <ul class="nav-group-items">
        <li class="nav-item">
          <a class="nav-link" routerLink="clientes">
            <span class="nav-icon"></span> Clientes
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="base/accordion.html"
            ><span class="nav-icon"></span> Funcionários
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="base/accordion.html"
            ><span class="nav-icon"></span> Fornecedores
          </a>
        </li>
      </ul>
    </li>

  </ul>

  <button
    class="sidebar-toggler"
    type="button"
    data-coreui-toggle="unfoldable"
  ></button>
</div>

<div class="wrapper d-flex flex-column min-vh-100 bg-light">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>
