.show {
    display: block !important;
    opacity: 1 !important;
}

.modal {
    opacity: 0;
    visibility: hidden; /* Oculta o modal quando não está visível */
    transition: opacity 0.5s ease; /* Transição suave de opacidade */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Garante que o modal esteja acima da tela de fundo */
}

.modal.show {
    opacity: 1;
    visibility: visible; /* Torna o modal visível */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Cor branca com 50% de opacidade */
    z-index: 1040;
    display: none; 
}

.modal-backdrop.show {
    display: block; 
}
