<div class="container-fluid pt-2">
  <div class="card card-info">
    <div class="card-header">
      <h2 class="text-center">Fornecedores | Atualizar</h2>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label> Razão Social </label>
              <input
                [(ngModel)]="fornecedor.nome"
                name="nome"
                [formControl]="nome"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label> Nome Fantasia </label>
              <input
                [(ngModel)]="fornecedor.nomeFantasia"
                [formControl]="nomeFantasia"
                required=""
                type="text"
                name="nomeFantasia"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label> CNPJ </label>
              <input
                [(ngModel)]="fornecedor.cnpj"
                [formControl]="cnpj"
                required=""
                type="text"
                name="cnpj"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label> Inscrição Estadual </label>
              <input
                [(ngModel)]="fornecedor.inscricaoEstadual"
                [formControl]="inscricaoEstadual"
                required=""
                type="text"
                name="inscricaoEstadual"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="form-label"> CEP </label>
              <input
                [(ngModel)]="fornecedor.endereco.cep"
                [formControl]="cep"
                required=""
                type="text"
                name="cep"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Logradouro </label>
              <input
                [(ngModel)]="fornecedor.endereco.logradouro"
                [formControl]="logradouro"
                required=""
                type="text"
                name="logradouro"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Complemento </label>
              <input
                [(ngModel)]="fornecedor.endereco.complemento"
                [formControl]="complemento"
                required=""
                type="text"
                name="complemento"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="form-label"> Nº </label>
              <input
                [(ngModel)]="fornecedor.endereco.numero"
                [formControl]="numero"
                required=""
                type="text"
                name="numero"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Bairro </label>-
              <input
                [(ngModel)]="fornecedor.endereco.bairro"
                [formControl]="bairro"
                required=""
                type="text"
                name="bairro"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Cidade </label>
              <input
                [(ngModel)]="fornecedor.endereco.cidade"
                [formControl]="cidade"
                required=""
                type="text"
                name="cidade"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Estado </label>
              <input
                [(ngModel)]="fornecedor.endereco.estado"
                [formControl]="estado"
                required=""
                type="text"
                name="estado"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Número Telefônico </label>
              <input
                [(ngModel)]="contato.numero"
                [disabled]="true"
                name="numeroTelefone"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Tipo </label>
              <input
                [(ngModel)]="contato.tipo"
                [disabled]="true"
                name="tipo"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <button
          (click)="update()"
          type="submit"
          class="btn btn-primary w-100 my-2"
        >
          Atualizar
        </button>
        <button
          routerLink="../../"
          class="btn btn-danger w-100"
        >
          Cancelar atualização
        </button>
      </form>
    </div>
  </div>
</div>
