<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <!-- Card 1 -->
          <div class="card col-md-7 p-4 mb-0">

            <div class="card-body">
              <h1> R&A Sistema de Vendas </h1>
              <p class="text-medium-emphasis"> Entre com sua conta</p>

              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg class="icon">
                    <use
                      xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-user"
                    ></use></svg
                ></span>
                <input
                  [formControl]="nomeUsuario"
                  required
                  [(ngModel)]="creds.nomeUsuario"
                  class="form-control"
                  type="text"
                  placeholder="Username"
                />
              </div>
              <div class="input-group mb-4">
                <span class="input-group-text">
                  <svg class="icon">
                    <use
                      xlink:href="assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"
                    ></use></svg
                ></span>
                <input
                  [formControl]="senha"
                  required
                  [(ngModel)]="creds.senha"
                  class="form-control"
                  type="password"
                  placeholder="Password"
                />
              </div>

              <div class="row">
                <div class="col-6">
                  <button
                    (click)="logar()"
                    class="btn btn-primary px-4"
                    type="button"
                  >
                    Login
                  </button>
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-link px-0" type="button">
                    Forgot password?
                  </button>
                </div>
              </div>

            </div>
          </div>

          <!-- Card 2 -->
          <div class="card col-md-5 text-white bg-primary py-5">
            <div class="card-body text-center">
              <div>
                <h2>Registre-se</h2>
                <p>
                  Você precisa de um sistema para controlar
                  vendas e estoque? Acabou de achá-lo!
                </p>
                <button class="btn btn-lg btn-outline-light mt-3" type="button">
                  Cadastrar agora!
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
