<div class="container-fluid pt-2">
  <div class="card card-primary">
    <div class="card-header">
      <h2 class="text-center">Fornecedores | Cadastrar</h2>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label> Razão Social </label>
              <input
                [(ngModel)]="fornecedor.nome"
                name="nome"
                [formControl]="nome"
                required=""
                type="nome"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label> Nome Fantasia </label>
              <input
                [(ngModel)]="fornecedor.nomeFantasia"
                name="nomeFantasia"
                [formControl]="nomeFantasia"
                required=""
                type="nome"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label> CNPJ </label>
              <input
                [(ngModel)]="fornecedor.cnpj"
                name="cnpj"
                [formControl]="cnpj"
                required=""
                type="nome"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label> Inscrição Estadual </label>
              <input
                [(ngModel)]="fornecedor.inscricaoEstadual"
                name="inscricaoEstadual"
                [formControl]="inscricaoEstadual"
                required=""
                type="nome"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="form-label"> CEP </label>
              <input
                [(ngModel)]="fornecedor.endereco.cep"
                name="cep"
                [formControl]="cep"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Logradouro </label>
              <input
                [(ngModel)]="fornecedor.endereco.logradouro"
                name="logradouro"
                [formControl]="logradouro"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Complemento </label>
              <input
                [(ngModel)]="fornecedor.endereco.complemento"
                name="complemento"
                [formControl]="complemento"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="form-label"> Nº </label>
              <input
                [(ngModel)]="fornecedor.endereco.numero"
                name="numero"
                [formControl]="numero"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Bairro </label>-
              <input
                [(ngModel)]="fornecedor.endereco.bairro"
                name="bairro"
                [formControl]="bairro"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Cidade </label>
              <input
                [(ngModel)]="fornecedor.endereco.cidade"
                name="cidade"
                [formControl]="cidade"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Estado </label>
              <input
                [(ngModel)]="fornecedor.endereco.estado"
                name="estado"
                [formControl]="estado"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Celular </label>
              <input
                [(ngModel)]="contato.numero"
                name="numeroTelefone"
                [formControl]="numeroTelefone"
                required=""
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Tipo de contato </label>
              <select
                [(ngModel)]="contato.tipo"
                name="tipo"
                [formControl]="tipo"
                required=""
                class="form-control"
              >
                <option selected></option>
                <option value="Fixo">Fixo</option>
                <option value="Celular">Celular</option>
                <option value="Outros">Outros</option>
              </select>
            </div>
          </div>
        </div>

        <button
          (click)="create()"
          type="submit"
          class="btn btn-primary w-100 my-2"
        >
          Cadastrar
        </button>
        <button routerLink="../" class="btn btn-danger w-100">
          Cancelar cadastro
        </button>
      </form>
    </div>
  </div>
</div>
