<div class="container-fluid pt-2">
  <div class="card card-info">
    <div class="card-header">
      <h2 class="text-center">Funcionarios | Visualizar</h2>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group">
              <label> Nome </label>
              <input
                [disabled]="true"
                [(ngModel)]="funcionario.nome"
                name="nome"
                required=""
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label> CPF </label>
              <input
                [disabled]="true"
                [(ngModel)]="funcionario.cpf"
                name="cpf"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="form-label"> CEP </label>
              <input
                [(ngModel)]="funcionario.endereco.cep"
                name="cep"
                readonly
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Logradouro </label>
              <input
                [(ngModel)]="funcionario.endereco.logradouro"
                name="logradouro"
                readonly
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Logradouro </label>
              <input
                [(ngModel)]="funcionario.endereco.complemento"
                name="complemento"
                readonly
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="form-label"> Nº </label>
              <input
                [(ngModel)]="funcionario.endereco.numero"
                name="numero"
                readonly
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Bairro </label>
              <input
                [disabled]="true"
                [(ngModel)]="funcionario.endereco.bairro"
                name="bairro"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Cidade </label>
              <input
                [disabled]="true"
                [(ngModel)]="funcionario.endereco.cidade"
                name="cidade"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Estado </label>
              <input
                [disabled]="true"
                [(ngModel)]="funcionario.endereco.estado"
                name="estado"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Celular </label>
              <input
                [disabled]="true"
                [(ngModel)]="contato.numero"
                name="numeroTelefone"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Tipo </label>
              <input
                [disabled]="true"
                [(ngModel)]="contato.tipo"
                name="tipo"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Nome de Usuário </label>
              <input
                [(ngModel)]="funcionario.nomeUsuario"
                name="nomeUsuario"
                readonly
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label"> Senha </label>
              <input
                [(ngModel)]="funcionario.senha"
                name="senha"
                readonly
                type="password"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <button routerLink="../../" class="btn btn-danger w-100">
          Retornar à listagem
        </button>
      </form>
    </div>
  </div>
</div>
